.scroll-content{
  padding:0;
}
ion-avatar{
  border-radius: 100%;
  cursor: pointer;
}
ion-content{
  height: 245px;
}
ion-footer{
  text-align: center;
}
ion-label{
  font-size: 14px;
}
.checkbox-ios{
  position: absolute;
  right: 10px;
}
.footer-button{
  margin: 10px 10px 10px 2px;
}
.userList{
  padding-left: 8px;
}
.statusBadge {
  position: absolute;
  border-radius: 100%;
  padding:0;
  width: 13px;
  height: 13px;
  left:37px;
  bottom: 10px;
  color: transparent;
  font-size: 7px;
  line-height: 1.5;
  border: 2px solid white;
  cursor: pointer;
  display: inherit;
}

.title{
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size:13px;
  color:white;
  font-weight: bold;
}
.list{
  color:#62a8ea;
  font-weight: bold;
  font-size: 14px;
}
.badge-memberCon{
  height: 70px;
  padding: 5px;
}
.memberList-button{
  height: 20px;
  font-size: 10px;
  padding: 0 10px;
  text-transform: inherit;
}
.notPhoto{
  text-align: center;
}
.displayName{
  font-weight: bold;
  color:white;
  line-height: 2.5;
}
.user-name{
  line-height: 2;
  font-size: 14px;
}
.member-count{
  color:#6E6E6E;
}


//  new design
.create-chat-header {
  height: 57px;
  padding: 19px 23px;
  .header-text {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4f5c;
    span {
      font-weight: bold;
    }
  }
}
ion-content {
  height: calc(100vh - 383px);
}
.invite-scroll-con {
  height: calc(100vh - 383px);
  overflow: auto;
  .user-frame {
    border-top: 1px solid #e3e7f2;
    border-bottom: 1px solid #e3e7f2;
  }
}
.create-chat-footer {
  border-top: 1px solid #e3e7f2;
  height: 60px;
}
