members-popover {

  .memeberList-frame {
    .apps-title {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #4d4f5c;
    }
    .list-scroll-con {
      overflow: auto;
      height: 205px;
    }
  }
}
