app-avatar-button{
  .avatar-button {
    button {
      color: white;
    }
    .avatar-photo-image {
      border-radius: 50%;
    }
  }

  .avatar-displayName {

    //height: 20px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #0d1c2e;
    cursor: pointer;

    //padding-bottom: 6px;
  }

  .avatar-displayName:hover {
    text-decoration: underline;
    color: #2a8bf2;
  }

  ::ng-deep p {
    word-wrap: break-word;
    margin: 0 !important;
  }
}
