<ion-content no-padding>
  <div class="d-flex justify-content-between align-items-center px-3 py-2" style="border-bottom: 1px solid #e3e7f2">
    <div class="avatar-btn">
      <app-avatar-button [uid]="bizFire.uid" [statusOn]="true" [displayNameOn]="true"
                         (changeStatus)="changeStatus($event)">
      </app-avatar-button>
      <div class="statusMenu popup" *ngIf="statusMenu">
        <ul>
          <ion-badge class="selectBadge" color="secondary"></ion-badge>
          <li (click)="changedStatus('online')">{{ langPack['online'] }}</li>
          <ion-badge class="selectBadge" color="yellow"></ion-badge>
          <li (click)="changedStatus('wait')">{{ langPack['wait'] }}</li>
          <ion-badge class="selectBadge" color="danger"></ion-badge>
          <li (click)="changedStatus('busy')">{{ langPack['busy'] }}</li>
        </ul>
      </div>
    </div>

    <div class="badge-btn">
      <ion-button class="mr-2" no-padding fill="clear" slot="ioon-only" [hidden]="!bizFire.currentBizGroup.isManager">
        <ion-icon src="assets/imgs/renewal/Icon_Outline_settings.svg"></ion-icon>
      </ion-button>
      <ion-button clas="mr-1" no-padding fill="clear" slot="ioon-only" (click)="showNotify()">
        <ion-icon src="assets/imgs/renewal/Icon_Outline_bell.svg"></ion-icon>
      </ion-button>
      <ion-button no-padding fill="clear" slot="ioon-only" (click)="showMenu()">
        <ion-icon name="more" style="color: #707c97"></ion-icon>
      </ion-button>
      <div *ngIf="badgeCount" class="notifiBadge d-flex justify-content-center align-items-center"
           (click)="showNotify()">
        {{badgeCount}}
      </div>
      <div class="popup" *ngIf="showMore">
        <ul>
          <li (click)="tokenService.makeWebJump('mypage')">{{ langPack['myaccount'] }}</li>
          <li (click)="logout()">{{ langPack['logout'] }}</li>
          <li (click)="windowClose()">{{ langPack['shutdown'] }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="home-con-frame d-flex flex-column justify-content-between align-content-between">
    <div class="home-con bg-white d-flex flex-column justify-content-center">
      <div class="menu-title pl-3 pb-3 flex-shrink-0">{{ langPack['taskbox'] }}</div>
      <div class="menu-con d-flex flex-column justify-content-center">
        <ion-grid no-margin>
          <ion-row>
            <ion-col class="col-3">
              <div class="d-flex flex-column align-items-center">
                <div class="menu-box d-flex align-items-center justify-content-center">
                  <img src="assets/imgs/renewal/Icon_video.svg">
                </div>
                <div class="menu-text mt-1">{{langPack['video_chat']}}</div>
              </div>
            </ion-col>
            <ion-col class="col-3">
              <div class="d-flex flex-column align-items-center">
                <div class="menu-box d-flex align-items-center justify-content-center">
                  <img src="assets/imgs/renewal/Icon_sales.svg">
                </div>
                <div class="menu-text mt-1">{{ langPack['SFA'] }}</div>
              </div>
            </ion-col>
            <ion-col class="col-3">
              <div class="d-flex flex-column align-items-center">
                <div class="menu-box d-flex align-items-center justify-content-center">
                  <img src="assets/imgs/renewal/Icon_workflow.svg">
                </div>
                <div class="menu-text mt-1">{{ langPack['workflow'] }}</div>
              </div>
            </ion-col>
            <ion-col class="col-3">
              <div class="d-flex flex-column align-items-center">
                <div class="menu-box d-flex align-items-center justify-content-center">
                  <img src="assets/imgs/renewal/Icon_task.svg">
                </div>
                <div class="menu-text mt-1">{{ langPack['task'] }}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="biz-border-line d-flex flex-grow-1 flex-shrink-1"></div>

    <div class="home-con bg-white d-flex flex-column justify-content-start">
      <!--  more 버튼 클릭시 콘텐츠가 확장되는 스타일   -->
      <div class="d-flex justify-content-between align-items-center px-3 pb-3">
        <div class="menu-title">{{ langPack['apps'] }}</div>
        <div class="pointer" (click)="presentPopover($event)">
          <img src="assets/imgs/renewal/Icon_add.svg">
        </div>
      </div>
      <div class="menu-con">
        <ion-grid [ngClass]="moreAppsMode === true ? 'more-grid' : 'default-grid'">
          <ng-container *ngIf="userCustomLinks.length > 0; else addCutomLinksDesc">
            <ion-row class="justify-content-start mx-3">
              <ion-col class="col-3 mb-3" *ngFor="let link of userCustomLinks">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="menu-box d-flex align-items-center justify-content-center" (mouseenter)="link.data.hidden=false" (mouseleave)="link.data.hidden=true">
                    <div class="white-circle d-flex align-items-center justify-content-center">
                      <img class="favicon-img pointer" (click)="goLink(link)" *ngIf="link.data.img" src="{{ link.data.img }}">
                      <img class="favicon-img pointer" (click)="goLink(link)" *ngIf="!link.data.img" src="{{ getFavicons + link.data.url }}">
                    </div>
                    <ion-icon name="remove-circle" class="link-remove" (click)="removeLink(link)" [hidden]="link.data.hidden"></ion-icon>
                  </div>
                  <div class="menu-text text-55 mt-1 pointer text-center">{{ link.data.title }}</div>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
          <ng-template #addCutomLinksDesc>
            <div class="customLinkDesc d-flex h-100 align-items-center justify-content-center">
              {{langPack['addLinkDesc']}}
            </div>
          </ng-template>
        </ion-grid>
        <div class="d-flex justify-content-center pointer mt-3" *ngIf="userCustomLinks && userCustomLinks.length > 8" (click)="clickMore()">
          <span class="more-apps-text" *ngIf="!moreAppsMode">{{langPack['more_apps']}}</span>
          <span class="more-apps-text" *ngIf="moreAppsMode">{{langPack['end_more']}}</span>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!moreAppsMode">
      <div class="biz-border-line d-flex flex-grow-1 flex-shrink-1"></div>

      <!-- 최신 공지사항 4개까지 보여줌. -->
      <div class="notice-con bg-white">
        <div class="d-flex flex-column">
          <div class="px-3 py-2 menu-title d-flex justify-content-between align-items-center">
            <div>{{ langPack['BBS'] }}</div>
            <div class="pointer p-1">
              <ion-icon name="ios-arrow-forward" class="font-20 biz-color-default"></ion-icon>
            </div>
          </div>
          <div class="px-4 notice-msg-con d-flex justify-content-between align-items-center pointer"
               *ngFor="let notice of latelyNotice">
            <div class="notice-title d-flex flex-grow-1 flex-shrink-1 align-items-center">
              <span>{{notice.data.title}}</span>
            </div>
            <div class="notice-time d-flex flex-shrink-0 align-items-center">{{notice.data.created | timestampToDate | date:'yyyy-MM-dd hh:mm:ss a'}}</div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="biz-border-line d-flex flex-grow-1 flex-shrink-1"></div>

    <div class="home-footer bg-white d-flex justify-content-center align-items-center">
      Bizsquad is powered by<span class="link-newturns pointer" (click)="goLink('https://www.bizsquad.net/')">&nbsp;Newturns&nbsp;</span>Inc.
    </div>
  </div>

</ion-content>
