<ion-content class="login-content ion-no-padding">

  <div class="d-flex flex-column justify-content-between flex-wrap content-color h-100 p-3">
    <div class="d-flex justify-content-end">
      <!-- 헤더  -->
      <div class="d-flex">
        <ion-button class="top-side-menu ion-no-padding" fill="clear" size="small" slot="icon-only"  color="light" (click)="windowMimimize()">
          <img src="assets/imgs/renewal/Icon_Outline_minimize.svg">
        </ion-button>
        <ion-button class="top-side-menu ion-no-padding" fill="clear" size="small" slot="icon-only"  color="light" (click)="windowHide()">
          <img src="assets/imgs/renewal/Icon_Outline_close.svg">
        </ion-button>
      </div>
    </div>

    <!-- 바디  -->
    <div class="d-flex flex-column align-items-center mb-5">
      <img src="assets/imgs/renewal/logo.svg" class="mb-2">

      <div class="app-version mb-3">v {{ version }}</div>
      <form [formGroup]="loginForm" class="w-100 mx-5 px-5">
        <div class="d-flex flex-column">
          <div class="inputTitle mb-2">Company</div>
          <input type="text" class="form-control input-text mb-3" formControlName="company">
          <div class="inputTitle mb-2">Email</div>
          <input type="email" class="form-control input-text mb-3" formControlName="email">
          <div class="inputTitle mb-2">Password</div>
          <input type="password" class="form-control input-text mb-4" formControlName="password" (keyup.enter)="this.onLogin()">
          <ion-button (click)="onLogin()" expand="full" class="login-btn mb-3">Sign In</ion-button>
        </div>
      </form>
      <div class="w-100 mx-5 px-5">
        <div class="d-flex mb-3 align-items-center no-drag">
          <biz-check-btn [checked]="autoLoign" [useGroupColor]="false" (click)="onAutoLogin()"></biz-check-btn>
          <span class="ml-3 auto-login-text">Auto Login</span>
        </div>
<!--        <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--          <div class="sign-up-text">New to Bizsquad?</div>-->
<!--          <div class="d-flex justify-content-between align-items-center">-->
<!--            <div class="sign-up-btn">-->
<!--              <biz-button [title]="'Sign up'" [teamColor]="false" class="w-100 h-100 m-0" (click)="gotoSignUp()">-->
<!--              </biz-button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>

    <!--  푸터  -->
    <div class="login-footer d-flex justify-content-center align-items-center">
      Bizsquad is powered by<span class="link-newturns pointer" (click)="goLink('https://www.bizsquad.net/')">&nbsp;Newturns&nbsp;</span>Inc.
    </div>
  </div>

</ion-content>
