<ion-content class="login-content ion-no-padding no-drag">

  <div class="d-flex flex-column justify-content-between flex-wrap content-color h-100 p-3 no-drag">
    <div class="d-flex justify-content-end drag">
      <!-- 헤더  -->
      <div class="d-flex">
        <ion-button class="no-drag ion-no-padding" fill="clear" size="small" slot="icon-only"  color="light" (click)="windowMimimize()">
          <img src="assets/imgs/renewal/Icon_Outline_minimize.svg">
        </ion-button>
        <ion-button class="no-drag ion-no-padding" fill="clear" size="small" slot="icon-only"  color="light" (click)="windowHide()">
          <img src="assets/imgs/renewal/Icon_Outline_close.svg">
        </ion-button>
      </div>
    </div>

    <!-- 바디  -->
    <div class="d-flex flex-column align-items-center mb-5 drag">
      <img src="assets/imgs/renewal/logo.svg" class="mb-2">

      <div class="app-version mb-3">v {{ version }}</div>
      <form [formGroup]="loginForm" class="w-100 mx-5 px-5">
        <div class="d-flex flex-column">
          <div class="inputTitle mb-2">Company</div>
          <input type="text" class="form-control input-text mb-3" formControlName="company">
          <div class="inputTitle mb-2">Email</div>
          <input type="email" class="form-control input-text mb-3" formControlName="email">
          <div class="inputTitle mb-2">Password</div>
          <input type="password" class="form-control input-text mb-4" formControlName="password" (keyup.enter)="this.onLogin()">
          <ion-button (click)="onLogin()" expand="full" class="login-btn mb-3">Sign In</ion-button>
        </div>
      </form>
      <div class="w-100 mx-5 px-5">
        <div class="d-flex mb-3 align-items-center no-drag">
          <div class="check-btn-frame d-flex align-items-center justify-content-center pointer" (click)="onAutoLogin()"
               [ngStyle]="{'background-color': autoLoign ? '#324CA8' : 'white'}">
            <i class="fa fa-check text-white font-17" *ngIf="autoLoign"></i>
          </div>
          <span class="ml-3 auto-login-text">Auto Login</span>
        </div>
      </div>
    </div>

    <!--  푸터  -->
    <div class="login-footer d-flex justify-content-center align-items-center">
      Bizsquad is powered by<span class="link-newturns pointer" (click)="goLink('https://www.bizsquad.net/')">&nbsp;Newturns&nbsp;</span>Inc.
    </div>
  </div>

</ion-content>
