ion-tab-button {
  ion-label{
    font-size: 14px;
    font-weight: bold;
  }
}

.groupName{
  text-transform: none;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  color: #0d1c2e;
}
