<ion-header>
  <chat-header [chat]="chatRoom"></chat-header>
</ion-header>

<ion-header class="progress-Header" *ngIf="loadProgress > 0">
  <progress-bar [progress]="loadProgress"></progress-bar>
</ion-header>

<ion-content #scrollContent [scrollEvents]="true" (ionScroll)="scrollHandler($event)" dropzone (dropped)="onFileDropped($event)">
  <div class="h-100">
    <img class="translate-logo position-fixed" src="assets/imgs/logo/google/color-short.png" width="97" height="13">
    <ng-container *ngFor="let message of chatContent; trackBy:chatTrackBy; let i = index let last = last">
      <div class="d-flex align-items-center my-2" *ngIf="isDifferentDay(i)">
        <div class="d-flex flex-grow-1 ml-3" style="background-color: #ECECEC; height:1px"></div>
        <div class="differentDay pl-3 pr-3">{{ getMessageDate(i) }}</div>
        <div class="d-flex flex-grow-1 mr-3" style="background-color: #ECECEC; height:1px"></div>
      </div>
      <biz-message-balloon [message]="message"
                           (messageReply)="replyMessage = $event"
                           (initScrollBottomForTranslation)="translationResult($event,last)"
                           [sameUser]="checkSameUser(message,chatContent[i-1]) && !isDifferentDay(i,false)"
                           (imgDidLoad)="scrollToBottom(last)">
      </biz-message-balloon>
    </ng-container>
  </div>
</ion-content>

<ion-footer no-border>
  <div class="d-flex flex-row align-items-center justify-content-between p-2" *ngIf="replyMessage != null">
    <div class="d-flex align-items-center overflow-hidden">
      <ion-icon name="return-right"></ion-icon>
      <div class="ml-3 mr-3 d-flex flex-column overflow-hidden">
        <div class="font-13 text-primary" *ngIf="cacheService.userGetObserver(replyMessage.sender) | async as user">
          {{user.data.displayName}}
        </div>
        <div class="font-12 reply-message">
          {{removeHtml(replyMessage.message.text)}}
        </div>
      </div>
    </div>
    <ion-icon class="pointer" name="close" (click)="removeReplyInfo()"></ion-icon>
  </div>

  <form [formGroup]="chatForm">
    <div class="chat-input-frame p-2 d-flex align-items-end">
      <div *ngIf="replyMessage == null" class="file-attach-div d-flex align-items-center justify-content-center pointer" (click)="fileAttach.click()"
      style="margin-bottom: 2px">
        <img src="assets/imgs/renewal/Icon_circle_attach.svg">
        <input type="file" style="display: none;" accept="*" #fileAttach (change)="file($event)" multiple>
      </div>

      <div class="flex-grow-1 mx-2">
        <ion-textarea #msgInput rows="1" formControlName="chat" placeholder="Type a message here" (paste)="pasteClipboard()"
                      (keydown)="keydown($event)" autosize="100" class="mt-0" align-items-start>
        </ion-textarea>
      </div>
      <div style="margin-bottom: 2px">
        <div class="circle_send d-flex align-items-center justify-content-center pointer" (click)="sendMsg(chatForm.value.chat)"
             [ngStyle]="{'background-color': selectBizGroup != null ? selectBizGroup.data.team_color : 'silver'}">
          <img src="assets/imgs/renewal/Icon_Fill_navigation.svg">
        </div>
      </div>
    </div>
  </form>
</ion-footer>
