.differentDay{
  color: #707c97;
  opacity: 0.5;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.translate-logo {
  right: 25px;
  opacity: 0.7;
}

.chat-input-frame {
  background-color: #fcfcfc;
  border-top: 1px solid #e3e7f2;
  .circle_send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  ion-textarea {
    border: none;
    border-radius: 5px;
    font-size: 14px;

    ::ng-deep textarea {
      ::placeholder {
        text-align: left;
      }
    }
  }

}
.reply-message {
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
  }
}


// scroll bar
.scrollable{
  height: 90%;
  overflow: auto !important;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: inherit;
}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
  // border-radius: 8px!important;
  background-color: inherit;
  opacity: 0.5 !important;
}
::-webkit-scrollbar {
  width: 10px!important;
  background-color: #f6f6f6!important;
}
::-webkit-scrollbar-thumb {
  // border-radius: 8px!important;
  // -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3)!important;
  border: 1px solid #f6f6f6 !important;
  background-color: #BEBEBE!important;
  opacity: 0.7;
  border-radius: 7px !important;
}
