.differentDay{
  color: #707c97;
  opacity: 0.5;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.chat-input-frame {
  background-color: #fcfcfc;
  border-top: 1px solid #e3e7f2;
  .circle_send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  ion-textarea {
    border: 1px solid #e3e7f2;
    border-radius: 5px;
  }
}
