<ion-header>
  <chat-header [chat]="chatRoom"></chat-header>
</ion-header>

<ion-header class="progress-Header" *ngIf="loadProgress > 0">
  <progress-bar [progress]="loadProgress"></progress-bar>
</ion-header>

<ion-content #scrollContent [scrollEvents]="true" (ionScroll)="scrollHandler($event)">
  <div class="message-wrap">
    <ng-container *ngFor="let message of chatContent; let i = index">
      <div class="d-flex align-items-center my-2" *ngIf="isDifferentDay(i)">
        <div class="d-flex flex-grow-1 ml-3" style="background-color: #ECECEC; height:1px"></div>
        <div class="differentDay pl-3 pr-3">{{ getMessageDate(i) }}</div>
        <div class="d-flex flex-grow-1 mr-3" style="background-color: #ECECEC; height:1px"></div>
      </div>
      <biz-message-balloon [message]="message" (initScrollBottomForTranslation)="translationResult($event)"></biz-message-balloon>
      <!--      <app-message [menu]="false" [comment]="false" [message]="message" [showUnreadCount]=true></app-message>-->
    </ng-container>
  </div>
</ion-content>

<ion-footer no-border>
  <form [formGroup]="chatForm">
    <div class="chat-input-frame p-2 d-flex align-items-end">
      <div class="file-attach-div d-flex align-items-center justify-content-center pointer" (click)="fileAttach.click()"
      style="margin-bottom: 2px">
        <img src="assets/imgs/renewal/Icon_circle_attach.svg">
        <input type="file" style="display: none;" accept="*" #fileAttach (change)="file($event)">
      </div>

      <div class="flex-grow-1 mx-2">
        <ion-textarea #msgInput rows="1" formControlName="chat" placeholder="Type a message here"
                      (keydown)="keydown($event)" autosize="100" class="mt-0" align-items-start>
        </ion-textarea>
      </div>
      <div style="margin-bottom: 2px">
        <div class="circle_send d-flex align-items-center justify-content-center pointer" (click)="sendMsg(chatForm.value.chat)"
             [ngStyle]="{'background-color': selectBizGroup != null ? selectBizGroup.data.team_color : 'silver'}">
          <img src="assets/imgs/renewal/Icon_Fill_navigation.svg">
        </div>
      </div>
    </div>
  </form>
</ion-footer>
