biz-message-balloon {
  .myMessage {
    max-width: 270px;

    border: 1px solid #E1E1E1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 15px #F0F0F0;
  　-moz-box-shadow: 5px 5px 15px #F0F0F0;
  　-webkit-box-shadow: 5px 5px 15px #F0F0F0;
    color: #707c97;
    font-weight: 500;
    a {
      word-wrap: break-word;
    }
  }

  .otherMessage{
    max-width: 270px;

    color: white;
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .read-count {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    color: #2a8bf2;
  }

  p {
    margin : 0 !important;
  }

}
