<!-- new -->
<ng-container *ngFor="let file of files">
  <div class="file-frame d-flex align-items-center "
       [ngClass]="{
       'otherMessage': !isMyMessage,
       'isMyMessage' : isMyMessage,
       'flex-row-reverse': isMyMessage && !postFiles
       }">
    <!--  이미지 표시  -->
    <ng-container *ngIf="isImageFile(file) === true">
      <biz-img [file]="file"></biz-img>
    </ng-container>

    <ng-container *ngIf="isImageFile(file) === false">
      <!-- 여기는 파일 확장자에 따른 이미지 -->
      <button class="custom-button" mat-icon-button (click)="goLink($event,file.url)">
        <!--  <mat-icon>insert_drive_file</mat-icon>-->
        <img *ngIf="isMyMessage" src="assets/imgs/renewal/Icon_Outline_file.svg">
        <img *ngIf="!isMyMessage" src="assets/imgs/renewal/Icon_Outline_file_white.svg">
      </button>
    </ng-container>

    <!--  파일정보 텍스트  -->
    <div class="d-flex flex-column file-info"
         [ngStyle]="{'margin':isMyMessage? '0px 16px 0px 0px': '0px 0px 0px 16px'}">
      <div>
        <a #aLink class="file-link pointer font-14" (click)="goLink($event,file.url)">{{file.name}}</a>
      </div>
      <div class="file-size">{{file.size / 1000000 |number:'1.0-2'}}Mb</div>
    </div>
  </div>

</ng-container>
