biz-group-logo {
  .group-logo-frame {

    .custom-avatar {
      width: 170px;
      height: 45px;
      border-radius: 4px;
    }
    .not-photo {
      color: white;
      font-size: 17px;
    }

    .team_name {
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #000000;
    }

  }
}
