ion-content{
  background-color: #EBEBEB !important;

  .menu-div{
    padding: 2px 0;
    height: 22px;
    font-size: 13px;
  }
  .menu-div:hover {
    cursor: pointer;
    color: #50A5F6;
  }
}

.listBorder{
  border-bottom: 1px solid #999 !important;
}
