<div class="squad-filter-frame">
  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter(null)"
          [ngStyle]="{'background-color': filterButtonText === null ? subcolor : 'inherit'}"
          [ngClass]="{'select-button': filterButtonText === null}">All</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter('general')"
          [ngStyle]="{'background-color': filterButtonText === 'general' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'general'}">General</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter('agile')"
          [ngStyle]="{'background-color': filterButtonText === 'agile' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'agile'}">Agile</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter('bookmark')"
          [ngStyle]="{'background-color': filterButtonText === 'bookmark' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'bookmark'}">
    <i class="fa fa-star"></i>
  </button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickSort('name')"
          [ngStyle]="{'background-color': currentSort === 'name' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': currentSort === 'name'}">N</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickSort('created')"
          [ngStyle]="{'background-color': currentSort === 'created' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': currentSort === 'created'}">C</button>
</div>
