<div class="squad-filter-frame">
  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter(null)"
          [ngStyle]="{'background-color': filterButtonText === null ? subcolor : 'inherit'}"
          [ngClass]="{'select-button': filterButtonText === null}">All</button>

  <button type="button" class="btn {{'btn-'+size}}"
          *ngIf="isGuest === false"
          (click)="onClickFilter('general')"
          [ngStyle]="{'background-color': filterButtonText === 'general' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'general'}">General</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter('agile')"
          [ngStyle]="{'background-color': filterButtonText === 'agile' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'agile'}">Agile</button>

  <button type="button" class="btn {{'btn-'+size}}"
          (click)="onClickFilter('bookmark')"
          [ngStyle]="{'background-color': filterButtonText === 'bookmark' ? subcolor :'inherit'}"
          [ngClass]="{'select-button': filterButtonText === 'bookmark'}">
    <i class="fa fa-star"></i>
  </button>

  <button type="button" class="position-relative btn {{'btn-'+size}}" style="padding-bottom: 4px" (click)="openSortList()">
    <i class="fa fa-ellipsis-v"></i>

    <div class="popup" *ngIf="showSortDiv">
      <ul>
        <li (click)="onClickSort('name')">Name</li>
        <li (click)="onClickSort('created')">Created</li>
      </ul>
    </div>
  </button>
</div>
