biz-squad-filter {
  .squad-filter-frame {
    button{
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: rgba(255, 255, 255, 0.65);
      border-radius: 10px;
    }
    .btn:focus,.btn:active {
      outline: none !important;
      box-shadow: none;
    }
    .btn:hover {
      color: rgba(255, 255, 255, 0.65) !important;
    }

    .select-button{
      //background-color: #007bff;
      background-color: inherit;
      color: white !important;
      outline: none;
    }
  }
}
